<meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Criar Post</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<form action="/visualize" class="form-horizontal" method="POST" style="margin: 5px;">
    <div class="form-group">
        <label for="title" style="margin-left : 15px;">Titulo :</label>
        <input type="text" name="title" id="title">
    </div>
    <div>
        <label for="content">Conteudo :</label>
    </div>
    <textarea name="content" cols="30" rows="10" id="content"></textarea>
    <p>
        <label for="submit" class="glyphicon glyphicon-ok" aria-hidden="true"></label>
        <button type="submit" id="submit">Cadastrar post</button>
    </p>
</form>