<!DOCTYPE html>
<html lang="pt-br">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Posts</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body style="margin: 5px;">
    <h1>Posts: </h1>
    <div>
        {{#each posts}} 
            <div>
                <h1>{{title}}</h2>
                <p>{{content}}</p>
                <p>{{createdAt}}</p>
                <p><a href="/delete/{{id}}"  class="btn btn-danger">Delete</a></p>
            </div>
        {{/each}}
    </div>
    <div>
        <p><a href="/cad" class="btn btn-success">Criar novo post</a></p>
    </div>
</body>
</html>