<form action="/visualize" class="form-horizontal" method="POST" style="margin: 5px;">
    <div class="form-group">
        <label for="title" style="margin-left : 15px;">Titulo :</label>
        <input type="text" name="titulo" id="title">
    </div>
    <div>
        <label for="content">Conteudo :</label>
    </div>
    <textarea name="content" cols="30" rows="10" id="content"></textarea>
    <p>
        <label for="submit" class="glyphicon glyphicon-ok" aria-hidden="true"></label>
        <button type="submit" id="submit">Cadastrar post</button>
    </p>
</form>