@charset "UTF-8";

h1{
    text-align: left;
}

.element{
    background-color: rgba(202, 200, 200, 0.651);
}

#elementos strong{
    padding-right: 15px;
}

#help{
    color: blue;
    text-align: justify;
}

/*
    Oi, faça o botão de #help receber uma cor azul quando estiver off e depois uma cor vermelha quando estiver on!
*/
